body{
    font-family: 'DM Sans';
    margin: 0;
    padding-top: 100px;

    .container{
        #image{
            z-index: 1;
            width: 100%;
            position: absolute;
        }

        .banniere{
            z-index: 10;
            max-width: 1366px;
            margin: 0 auto;
            position: relative;
            top: 80px;
            left: 40px;

            h1{
                font-size: 55px;
                color: white;
                width: 500px;
            }

            p{
                font-size: 30px;
                color: white;
                width: 1145px;

                span{
                    background-color: #00FF00;
                    font-size: 30px; 
                    color: black;
                    margin-right: 5px;
                    font-weight: bold;
                }
            }
        }
        .blockbanniere{
            background-color: white;
            position: relative;
            z-index: 10;
            width: 900px;
            height: 450px;
            top: 150px;
            left: 150px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            .text{
                margin: 100px;
                padding-top: 50px;
                h1{
                    margin-bottom: 50px;
                }
            }
        }
        .location{
            display: flex;
            margin-bottom: 100px;
            margin-left: 100px;
            margin-right: 100px;
            align-items: center;
            height: 300px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            
            #tirelait{
                height: 100%;
            }
            .text{
                    text-align: center;
                    height: 100%;
                    margin: 200px 0 0 200px;
                    img{
                        margin-left: 100px;
                    }
            }
        }
        .magasin{
            margin: 0 100px;
            background-color: white;
            width: 860px;

            .block{
                display: flex;
                .case{
                    display: flex;
                    border-style: solid;
                    border-width: 1px;
                    width: 360px;
                    margin-right: 40px;

                    span{
                        width: 180px;
                        text-align: center;
                        position: relative;
                        padding: 5px 0;
                    }

                    .black{
                        background-color: #000000;
                        color: white;
                        text-align: center;
                        position: relative;
                    }
                }
            }

            .text{
                margin-top: 50px;

                p{
                    margin-top: 25px;
                    color: #615B57;
                }
            }
        }

        .blockimage{
            display: flex;
            flex-flow: wrap;
            article{
                margin: 20px 170px 0 170px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                height: 400px;
                img{
                    height: 100%;
                }
            }
        }
    }
}