body{
    font-family: 'DM Sans';
    margin: 0;
    padding-top: 100px;
    .container{
        #image{
            z-index: 1;
            width: 100%;
            position: absolute;
        }

        .contact{
            z-index: 10;
            max-width: 1366px;
            margin: 0 auto;
            position: relative;
            top: 80px;
            left: 40px;

            h1{
                font-size: 55px;
                color: white;
            }

            p{
                font-size: 30px;
                color: white;
                width: 840px;

                span{
                    background-color: #00FF00;
                    font-size: 30px; 
                    color: black;
                    padding-right: 10px;
                    font-weight: bold;
                }
            }
        }

        .map{
            margin-left: 25px;
            position: relative;
            top: 300px;
            z-index: 10;
            display: flex;
            
            .contacter{
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                background-color: white;
                display: flex;
                padding: 50px;
                height: 300px;
                flex-flow: wrap;
                width: 700px;

                h4{
                    width: 700px;
                }
                article{
                    display: flex;
                    justify-content: space-between;
                    div{
                        width: 250px;
                        display: flex;
                        font-size: 13px;
                        img{
                            margin-right: 30px;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
                .textblock{
                    position: relative;
                    top: 0px;
                    span{
                        font-weight: bold;
                        margin-right: 5px;
                    }
                }
            }
            .imagemap{
                width: 500px;
                height: 450px;
                img{
                    position: relative;
                    height: 100%;
                    bottom: 24px;
                }
            }
        }
        .green{ 
            margin-left: 70px;
            background-color: #00FF00;
            display: flex;
            padding-left: 30px;
            width: 89%;
            margin-bottom: 50px;
            h3{
                width: 400px;
            }
            img{
                width: 15px;
                height: 15px;
                position: relative;
                top: 25px;
                left: 65%;
            }
        }
        .service{
            .block{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #615B57;
                margin: 0 70px 50px 70px;
    
                .article{
                    width: 430px;
                    padding: 10px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    p{
                        font-size: 12px;
                    }
                    .paragraphe{
                        width: 350px;
                        margin-left: 30px;
                    }
                    .titre{
                        display: flex;
                        margin: 20px;
                        flex-flow: wrap;
                        width: 420px;
                        p{
                            position: relative;
                            bottom: 40px;
                            left: 120px;
                            width: 200px;
                        }
                        img{
                            margin-right: 20px;
                            width: 100px;
                            height: 100px;
                        }
                        
                        
                    }
                    
                    .text{
                        display: flex;
                        flex-flow: wrap;
                        width: 420px;
                        margin-left: 30px;
                        div{
                            width: 250px;
                            display: flex;
                            img{
                                margin-right: 10px;
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
        .contactez{
            margin-left: 70px;
            width: 800px;
            h2{
                color: #615B57;
                width: 200px;
            }
            form{
                color: #707070;
                flex-flow: wrap;
                display: flex;

                label{
                    
                    width: 750px;
                }
                div{
                    width: 800px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    input{
                        width: 800px;
                        border: 1px solid rgba(112, 112, 112, .5);
                    }
                }
                .black{
                    
                    width: 220px;
                    height: 44px;
                    font-size: 20px;
                    border-radius: 30px;
                    border: none;
                    background-color: #000000;
                    color: white;
                    position: relative;

    
                    &:hover{
                        background-color: #707070;
                    }
                }
            }
        }
    }
}