.navhead {
  width: 100%;
  height: 100px;
  padding: 20px 0 0 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: white;
}

.navhead .navbar {
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
}

.navhead .navbar .logo {
  width: 249px;
  position: relative;
  top: 17px;
}

.navhead .navbar .trace {
  display: none;
}

.navhead .navbar ul {
  display: inline-block;
}

.navhead .navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px 0 20px;
}

.navhead .navbar ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #615B57;
}

.navhead .navbar ul li a:hover {
  font-weight: bold;
  color: #000000;
}

.navhead .navbar button {
  width: 170px;
  height: 44px;
  font-size: 25px;
  border-radius: 30px;
  border: none;
  margin-left: 20px;
}

.navhead .navbar button.black {
  background-color: black;
  color: white;
}

.navhead .navbar button.black:hover {
  background-color: #615b62;
}

.navhead .navbar button.green {
  background-color: lime;
}

.navhead .navbar button.green:hover {
  background-color: #82FF82;
}

.navhead .navbar .language-select {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-height: 44px;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 50px;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 3;
}

.navhead .navbar .language-select:hover {
  max-height: 130px;
}

.navhead .navbar .language-select a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 40px;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.navhead .navbar .language-select a:hover {
  color: #333;
}

.navhead .navbar .language-select a.actif {
  color: #333;
  font-weight: 700;
}

.navhead .navbar .language-select a:last-child {
  margin-bottom: 10px;
}

body {
  font-family: 'DM Sans';
  margin: 0;
  padding-top: 100px;
}

body .container #image {
  z-index: 1;
  width: 100%;
  position: absolute;
}

body .container .contact {
  z-index: 10;
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  left: 40px;
}

body .container .contact h1 {
  font-size: 55px;
  color: white;
}

body .container .contact p {
  font-size: 30px;
  color: white;
  width: 840px;
}

body .container .contact p span {
  background-color: #00FF00;
  font-size: 30px;
  color: black;
  padding-right: 10px;
  font-weight: bold;
}

body .container .map {
  margin-left: 25px;
  position: relative;
  top: 300px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .map .contacter {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  height: 300px;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 700px;
}

body .container .map .contacter h4 {
  width: 700px;
}

body .container .map .contacter article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .map .contacter article div {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
}

body .container .map .contacter article div img {
  margin-right: 30px;
  width: 30px;
  height: 30px;
}

body .container .map .contacter .textblock {
  position: relative;
  top: 0px;
}

body .container .map .contacter .textblock span {
  font-weight: bold;
  margin-right: 5px;
}

body .container .map .imagemap {
  width: 500px;
  height: 450px;
}

body .container .map .imagemap img {
  position: relative;
  height: 100%;
  bottom: 24px;
}

body .container .green {
  margin-top: 400px;
  background-color: #00FF00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  width: 80%;
}

body .container .green margin
img {
  width: 15px;
  height: 15px;
  position: relative;
  top: 25px;
  left: 140px;
}

footer {
  width: 100%;
  height: 550px;
  background-color: #615B57;
  margin-top: 450px;
}

footer .foot {
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
  padding: 100px 200px 100px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .foot div h3 {
  color: white;
  font-weight: normal;
  margin-bottom: 50px;
}

footer .foot div.services ul li {
  list-style: none;
  margin-bottom: 15px;
  color: #CFC8C6;
  position: relative;
  right: 40px;
  top: 15px;
}

footer .foot div.entreprise {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  color: #CFC8C6;
}

footer .foot div.mention-legale ul li {
  list-style: none;
  margin-bottom: 15px;
  color: #CFC8C6;
  position: relative;
  right: 40px;
  top: 15px;
}

footer .foot div.mention-legale img {
  width: 140px;
  position: relative;
  top: 100px;
}
/*# sourceMappingURL=main.css.map */