body{
    font-family: 'DM Sans';
    margin: 0;
    padding-top: 100px;

    .container{
        #image{
            z-index: 1;
            width: 100%;
            position: absolute;
        }

        .service{
            z-index: 10;
            max-width: 1366px;
            margin: 0 auto;
            position: relative;
            top: 80px;
            left: 40px;

            h1{
                font-size: 55px;
                color: white;
                width: 500px;
            }

            p{
                font-size: 30px;
                color: white;
                width: 1145px;

                span{
                    background-color: #00FF00;
                    font-size: 30px; 
                    color: black;
                    margin-right: 5px;
                    font-weight: bold;
                }
            }
        }

        .block{
            margin: 130px 100px;
            display: flex;
            position: relative;
            z-index: 10;
            justify-content: space-between;
            
            .articles{
                height: 350px;
                width: 300px;
                text-align: center;
                background-color: white;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

                h2{
                    color: #707070;
                }

                p{
                    color: #707070;
                    margin: 0 30px 0 30px;
                }

                img{
                    margin-top: 30px;
                    width: 100px;
                }
                .groupe{
                    width: 100px;
                    height: 100px;
                    background-color: #CFC8C6;
                    margin: 30px 0 0 100px;
                    border-radius: 50px;

                    #groupe{
                        width: 40px;
                    }
                }
            }
        }

        .Eshop{
            margin: 0 100px;
            h1{
                color: #615B57;
            }

            .block{
                margin: 80px 0 0 0;

                .article{
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid;
                    width: 450px;
                    height: 300px;
                    margin: 0 80px;

                    h2{
                        font-weight: normal;
                        color: #615B57;
                        margin-left: 30px;
                    }

                    #fleche{
                        width: 30px;
                        height: 30px;
                        position: relative;
                        top: 35px;
                        right: 75px;
                    }
                }

                .image{
                    position: absolute;
                    width: 450px;
                    height: auto;
                    left: 150px;
                    top: 100px;

                    img{
                        width: 450px;
                    }

                    .black{
                        font-size: 20px;
                        padding: 10px 0;
                        display: flex;
                        width: 450px;
                        font-weight: bold;
                        color: white;
                        background-color: #000000;
                        justify-content: center;
                        z-index: 100;
                        position: relative;
                        bottom: 10px;
                    }
                }

                .image2{
                    position: absolute;
                    width: 450px;
                    height: auto;
                    right: 10px;
                    
                    top: 100px;

                    img{
                        width: 450px;
                        border: 1px solid #CFC8C6;
                    }
                    .green{
                        font-size: 20px;
                        padding: 10px 0;
                        display: flex;
                        width: 452px;
                        font-weight: bold;
                        color: black;
                        background-color: #00FF00;
                        justify-content: center;
                        z-index: 100;
                        position: relative;
                        bottom: 10px;
                    }
                }
            }
        }
        .magasin{
            margin: 300px 100px;
            

            h1{
                color: #615B57;
            }

            p{
                color: #615B57;
                width: 250px;
            }

            .black{
                width: 220px;
                height: 44px;
                font-size: 20px;
                border-radius: 30px;
                border: none;
                background-color: #000000;
                color: white;
                margin-top: 70px;

                &:hover{
                    background-color: #707070;
                }
            }

            .horaire{
                background-color: white;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                width: 300px;
                position: absolute;
                text-align: center;
                right: 700px;
                z-index: 10;
                top: 1840px;

                span{
                    display: flex;
                    flex-flow: wrap;
                    justify-content: center;
                }
            }
            #mag{
                position: absolute;
                right: 0;
                top: 1691px;
                width: 850px;
                z-index: 0;
            }
        }
        .marques{
            
            h2{
                background-color: #CFC8C6;
                margin: 0;
                width: 300px;
                text-align: right;
                padding-right: 20px;
            }
            .slider-main{
                border: 1px solid #CFC8C6;
                background-color: rgba(207, 200, 198, .32);
                
                .slider{
                    position: relative;
                    display: flex;
                    align-items: center;
                    z-index: 20;
                    width: 390px;
                    height: 375px;
                    
                    #slide{
                        width: 390px;
                        margin-right: 5px;
                        margin-left: 5px;
                    } 
                }
                .decouvre{
                    background-color: #CFC8C6;
                    width: 375px;
                    height: 375px;
                    position: absolute;
                    right: 0;
                    top: 2383px;
                    z-index: 10;
                    font-size: 25px;
                    font-weight: bold;

                    span{
                        position: relative;
                        top: 170px;
                        left: 120px;
                        margin-right: 20px;
                    }
                }
                
            }
        }
        #client_photo{
            margin-top: 150px;
            top: 150px;
            width: 100%;
            z-index: 1;
            
        }
        .clients{
            position: relative;
            bottom: 850px;
            left: 100px;
            width: 80%;
            height: 750px;
            h1{
                font-size: 55px;
                color: white;
                width: 700px;
                z-index: 10;
            }

            .number{
                display: flex;
                justify-content: space-between;
                margin: 0 170px;
                position: relative;
                z-index: 10;
                top: 120px;
                right: 70px;
                .case{
                    background-color: #00FF00;
                    font-size: 30px;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    font-weight: bold;
                }
            }

            .chatBoxGroupe{
                display: flex;
                justify-content: space-between;
                position: relative;
                top: 100px;
                left: 50px;
                .chatBox{
                    span{
                        z-index: 5;
                        background-color: #00FF00;
                        width: 50px;
                        height: 50px;
                    }
                    img{
                        position: relative;
                        z-index: 2;
                        width: 380px;
                    }
                    p{
                        bottom: 230px;
                        left: 50px;
                        position: relative;
                        z-index: 10;
                        color: #707070;
                        width: 300px;
                    }
                }
            }

            .personne{
                display: flex;
                justify-content: space-between;
                position: relative;
                bottom: 220px;
                right: 250px;
                margin: 0 200px;
                width: 100%;

                .block{
                    color: white;
                    width: 250px;

                    img{
                        width: 100px;
                    }
                    span{
                        h3{
                            width: 150px;
                            margin-left: 40px;
                        }
                        p{
                            margin-left: 40px;
                        }
                    }
                }
            }

            .green{
                color: black;
                background-color: #00FF00;
                text-align: center;
                width: 250px;
                border: none;
                border-radius: 30px;
                height: 44px;
                font-size: 20px;
                position: relative;
                bottom: 250px;
                left: 50px;
            }
            
        }
        .actualite{
            position: relative;
            bottom: 700px;
            margin-top: 0;

            .black{
                margin-left: 100px;
                width: 220px;
                height: 44px;
                font-size: 20px;
                border-radius: 30px;
                border: none;
                background-color: #000000;
                color: white;
                

                &:hover{
                    background-color: #707070;
                }
            }

            h2{
                margin-left: 100px;
                color: #615B57;
            }

            .block{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #615B57;

                .article{
                    width: 420px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    height: auto;

                    .text{
                        margin: 40px 40px;

                        span{
                            background-color: rgba(0, 255, 0, .24);
                            color: #008000;
                            padding: 5px 20px;
                        }
                        p{
                            margin: 30px 0;
                            width: 210px;
                        }
                    }

                    img{
                        width: 100%;
                    } 
                }
            }
        }
        .jobs{
            position: relative;
            bottom: 500px;

            h2{
                margin-left: 100px;
                color: #615B57;
            }
            .black{
                margin-left: 100px;
                width: 220px;
                height: 44px;
                font-size: 20px;
                border-radius: 30px;
                border: none;
                background-color: #000000;
                color: white;
                

                &:hover{
                    background-color: #707070;
                }
            }
            img{
                position: absolute;
                right: 0;
                top: 0;
                width: 900px;
                z-index: 0;
            }
            .block{
                display: flex;
                justify-content: space-between;
                margin-right: 200px;
                .article{
                    background-color: white;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                    width: 330px;
                    padding: 10px 0 10px 0;
                    p{
                        margin: 5px 0 5px 10px;
                    }
                    span{
                        margin: 5px 0 5px 10px;
                    }
                    h4{
                        margin: 5px 0 5px 10px;
                    }
                    &.green{
                        text-align: center;
                        background-color: #00FF00;
                        h3{
                            padding-top: 10px;
                        }
                    }
                }
            }
        }

        .Certifications{

            h2{
                margin-left: 100px;
                color: #615B57;
            }
            .black{
                margin-left: 100px;
                width: 220px;
                height: 44px;
                font-size: 20px;
                border-radius: 30px;
                border: none;
                background-color: #000000;
                color: white;
                position: relative;
                bottom: 150px;
               

                &:hover{
                    background-color: #707070;
                }
            }
            .block{
                display: flex;
                margin-bottom: 0;
                p{
                    width: 750px;
                    color: #615B57;
                    height: 250px;
                }
                img{
                    width: 400px;
                    position: relative;
                    bottom: 150px;
                }
            }
        }
    }
}